# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.b451_Project.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\otz55\Desktop\451project\src\main\java\b451_Project\.idea\.idea.b451_Project.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
